@font-face {
    font-family: "Lora";
    src: local("Lora"), url(../../Assests/fonts/static/Lora-Italic.ttf);
}

h4, p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer_content {
    width: 100%;
    height: 200px;
    display: flex;
    background-color: #1C3879;
    color: #F9F5EB;
}

.footer_subs {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer_info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 200px;
}

.subs-text {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subs-text div h4 {
    font-family: 'Lora';
    font-size: 26px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
}

.subs-text div img {
    width: 75px;
    height: 70px;
}

.subs-text div p {
    margin-top: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.subs-text div img {
    width: 75px;
    height: 70px;
}

.subs-text div p {
    margin-top: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.vectorImg {
    height: 100%;
}

.subs-input {
    width: 240px;
    position: relative;
}

.subs-input img {
    position: absolute;
    left: 65%;
    top: 33%;
    width: 20px;
    height: 12px;
}

.subs-input input {
    height: 33px;
    background-color: #1C3879;
    color: #F9F5EB;
    border: 1px solid #F9F5EB;
    border-radius: 8px;
    padding-left: 25px;
    font-size: 14px;
}

.subs-input input::placeholder {
    color: #F9F5EB;
    font-size: 12px;
}

.footer_contact {
    width: 140px;
    display: flex;
    flex-direction: column;
}

.footer_contact h4 {
    margin-bottom: 18px;
    margin-top: 10px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mail-footer {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.footer_contact p {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.footer_contact img {
    padding: 0 14px 0 0;
}

.footer_address {
    width: 140px;
    padding-bottom: 8px;
}

.footer_address h4 {
    margin-bottom: 16px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer_address p {
    margin-bottom: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.footer_explore {
    width: 140px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.footer_explore h4 {
    margin-bottom: 16px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer_explore p {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.footer_news {
    width: 40px;
    padding-bottom: 20px;
}

.footer_news h4 {
    margin-bottom: 16px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
} 

.footer_news p {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
} 